BasedOnStyle: WebKit
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
ColumnLimit: 90
NamespaceIndentation: All
SortIncludes: true
SortUsingDeclarations: true
AllowShortIfStatementsOnASingleLine: false
Standard: Cpp11
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: false
BinPackParameters: true
ReflowComments: false